@keyframes Mower {
    0% {width: 30%;}
    50% {width: 40%;}
    100% {width: 30%;}

}


body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    flex-direction: row-reverse;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(113, 105, 140);
    margin-top: 0%;
}
img {
    width: 30%;
    max-height: 10cqmax;
    animation-name: Mower;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.navigation {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;

}
