body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    flex-direction: row-reverse;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(116, 154, 72);
    margin-top: 5%;
}
img {
    width: 30%;
    max-height: 10cqmax;
}
